[submodule "oh-my-zsh"]
  path = oh-my-zsh
  url = http://github.com/robbyrussell/oh-my-zsh.git

[submodule "vim"]
  path = vim
  url = git@github.com:yashsriv/vim-bar.git

[submodule "i3"]
  path = i3
  url = git@github.com:yashsriv/i3-config

[submodule "zsh-syntax-highlighting"]
  path = zsh-custom/plugins/zsh-syntax-highlighting
  url = git@github:zsh-users/zsh-syntax-highlighting
